.container {
    position: relative;
    margin-top: 15px;
}

header{
    background-color: #313745;
    height: auto;
    color: #fff;
}

h3 {
    text-align: center;
}

li{
    list-style: none;
    padding-left: 20px;
}

.formulario{
    text-align: center;
    padding: 10px;

}


/* Card centralizado na página */
.card {
    margin: 50px auto;  
}

/* Textos centralizados em suas divs */
.card-principal{
    text-align: center;
}

.bi {
   font-size: 1.5rem;
   padding-right: 5px;
}

.icon-description{
    font-size: 18px;
}

.temperature{
    font-size: 40px;
    padding-top: 15px;
}

.more-information{
    font-size: 14px;
    padding-top: 15px;
}


/* label e btn */
.input-text[type=text]{
    border-bottom: 2px solid;
    border-radius: 5px;
}

.icon-button{
    width: 35px;
    font-size: 14px;
    border-radius: 5px;
    border:none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}


input[type="submit"]{
    margin-left: -42px;
    background-color: #fff;
    border-color: rgb(15, 15, 15);
}

/* Página inicial */
.sobre{
    text-align: justify;
}

/* Página 404 */
.page404{
    text-align: center;
}


